* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing: -1px;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "맑은 고딕", 돋움, sans-serif;
    margin: 0 auto;
    height: auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.cf {
    clear: both;
    content: '';
    display: block;
}

.cl {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    display: none;
}



/* ///////////////////////////////////////////////////////////////// */

header {
    width: 100%;
    height: auto;
    position: relative;
}

/* 탑버튼 */
#top_btn {
    display: none;
    width: 60px;
    height: 60px;
    background-color: #236734;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 500;
}

#top_btn a {
    border-radius: 50%;
    display: block;
    padding: 20px 0;
    color: white;
    font-weight: bold;
}

#top_btn img {
    position: absolute;
    left: -60px;
    top: 45px;
    transform: rotate(90deg);
    clip: rect(10px, 20px, 20px, 10px);
}

/* 사이트맵 */
#siteMap {
    width: 100%;
    height: 160px;
    background-color: white;
    overflow: hidden;
    transition: height 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 2px solid #00a651;
}

#siteMap .top {
    width: 1350px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
}

/* 사이트맵 버튼 */
#siteMap .top .siteMap_total {
    width: 120px;
    height: auto;
    float: left;
    padding: 20px 0;
    text-align: center;
    margin: 0 30px;
}

#siteMap .top .siteMap_total h2 {
    margin-top: -10px;
}


#siteMap .top .siteMap_total .total_op {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #00a651;
    border-radius: 20px;
    margin: 10px auto;
    padding-top: 7px;
}

#siteMap .top .siteMap_total .total_cl {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #00a651;
    border-radius: 20px;
    margin: 10px auto;
    padding-top: 7px;
    display: none;
}

#siteMap .top .siteMap_total .language {
    width: 100px;
    height: 30px;
    color: #333333;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 10px auto;
    text-align: center;
}

#siteMap .top .siteMap_total .language_list {
    width: 410px;
    height: 30px;
    position: absolute;
    top: 120px;
    left: 315px;
    background-color: white;
    border: 3px solid #00a651;
    border-radius: 20px;
    transition: all 0.5s;
    display: none;
    z-index: 99999;
}

#siteMap .top .siteMap_total .language_list ul {
    margin-top: 5px;
    width: 400px;
    margin: 0 auto;
}

#siteMap .top .siteMap_total .language_list ul li {
    width: 100px;
    height: 30px;
    float: left;
}

#siteMap .top .siteMap_total .language_list ul li a {
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#siteMap .top .siteMap_total .language_list ul li:last-child a::after {
    content: '';
}

#siteMap .top .siteMap_total .language_list ul li a:hover {
    color: #00a651;
    font-weight: bold;
}

/* 사이트맵리스트 시작 */
#siteMap .top .siteMap {
    width: 1100px;
    float: right;
    height: 290px;
    margin: 10px auto;
}

#siteMap .top .siteMap .site_list ul {
    width: 1100px;
    float: right;
}

#siteMap .top .siteMap .site_list ul li {
    float: left;
    margin: 0 42px 30px 0;
}

#siteMap .top .siteMap .site_list ul li a {
    display: block;
    text-align: center;
}

#siteMap .top .siteMap .site_list ul li a span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

#siteMap .top .siteMap .site_list ul li:nth-child(8),
#siteMap .top .siteMap .site_list ul li:nth-child(16) {
    margin: 0 0 30px 0;
}

#siteMap .top .siteMap .site_list ul li a .img_box {
    width: 90px;
    height: 90px;
    box-shadow: 0 0 10px #999999;
    border-radius: 20px;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    transition: all 0.3s;
}

#siteMap .top .siteMap .site_list ul li a:hover .img_box {
    background-color: #00a651;
    box-shadow: none;
}

#siteMap .top .siteMap .site_list ul li:hover a span {
    color: #00a651;
    font-weight: 900;
}

#siteMap .top .siteMap .site_list ul li:first-child a .img_box {
    box-shadow: none;
}

#siteMap .top .siteMap .site_list ul li:first-child a img {
    display: block;
    border-radius: 20px;
}

#siteMap .top .siteMap .site_list ul li a .img_box img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* nav 시작 */
#main_nav {
    width: 100%;
    height: 90px;
    position: relative;
    margin: 0 auto;
    top: 160px;
}

#main_nav #nav ul {
    width: 1400px;
    margin: 0 auto;
}

/* 로고 */
#main_nav #nav .logo {
    width: 150px;
    height: 75px;
    float: left;
    margin-left: 5%;
}

#main_nav #nav .logo a {
    height: 55px;
    display: block;
    padding: 10px 0;
}

/* 메인네비 */
#main_nav #nav {
    width: 100%;
    min-width: 1400px;
    height: 70px;
    line-height: 7px;
    position: relative;
    background-color: rgba(236, 245, 234, 1);
    padding-top: 20px;
    z-index: 999;
}

#main_nav #nav .nav {
    width: 80%;
    height: 70px;
    display: inline-block;
    margin-left: 50px;
    background-color: rgba(236, 245, 234, 1);
}

#main_nav #nav .nav>ul {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    line-height: 55px;
    padding: 5px 0 15px;
}

#main_nav #nav .member {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    float: right;
    position: relative;
    top: -85px;
    left: -100px;
    text-align: center;
    overflow: hidden;
}
#main_nav #nav .member {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    float: right;
    position: relative;
    top: -85px;
    left: -100px;
    text-align: center;
    overflow: hidden;
}

#main_nav #nav .member ul {
    width: 300px;
    height: 30px;
    margin: 0 auto;
}

#main_nav #nav .member ul li {
    height: 30px;
    line-height: 30px;
    float: right;
    padding: 0 5px;
}


#main_nav #nav .nav>ul>li {
    display: inline-block;
}

#main_nav #nav .nav>ul>li>a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.2em;
    color: #666666;
    float: left;
    padding: 10px 35px 10px;
}

#main_nav #nav .nav>ul>li>a:hover {
    border-bottom: solid 5px #79ac91;
    padding-bottom: 5px;
}

.nav_sub {
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    top: 90px;
    left: 0;
    background-color: white;
}

.nav_sub>ul {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    left: 30%;
    transform: translate(-50%, 0);
}

.nav_sub>ul>li {
    position: relative;
    width: 16%;
    text-align: left;
    line-height: 50px;
    margin: 3px 20px 0 2px;
    float: left;
}

.nav_sub>ul>li>a {
    display: block;
    height: 40px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.3);
    color: #555555;
    border-radius: 5px;
}

.nav_sub>ul>li>a:hover {
    background-color: #00a651;
    color: white;
    transition: all 0.3s;
}

.nav_sub>ul>li>ul {
    position: relative;
    height: auto;
}

.nav_sub>ul>li>ul>li {
    width: 20%;
    text-align: left;
    height: 30px;
    line-height: 32px;
    display: block;
}

.nav_sub>ul>li>ul>li>a {
    font-size: 0.9em;
    font-weight: 400;
    height: 30px;
    display: block;
    padding-left: 6px;
    letter-spacing: -2px;
}

.nav_sub>ul>li>ul>li>a:hover {
    border-left: 3px solid #00a651;
    padding-left: 3px;
}


/* 서브1 섹션 탑시작 */
#sub_section {
    width: 100%;
    min-width: 1200px;
    height: auto;
    position: relative;
    top: 150px;
}

#sub_sectionTop {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: rgba(236, 245, 234, 1);
    display: flex;
}

#sub_sectionTop>.sub_sectionTop {
    width: 1300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: end;
}

.sub_sectionTop_l {
    width: 200px;
    height: 190px;
    margin-right: auto;
    display: flex;
    align-items: end;
}

.sub_sectionTop_l div {
    width: 200px;
    height: 120px;
    background-color: #00a651;
    border-radius: 20px 20px 0 0;
    color: white;
}

.sub_sectionTop_l div h2 {
    width: 120px;
    height: 20px;
    margin: 20px auto 0;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.sub_sectionTop_l div h2 span {
    display: block;
    text-align: right;
}

.sub_sectionTop_l div h3 {
    height: 30px;
    line-height: 80px;
    display: block;
    text-align: center;
    font-size: 26px;
    text-shadow: 0 0 1px white;
    letter-spacing: 1px;
}

.sub_sectionTop_c {
    width: 900px;
    height: 150px;
    line-height: 100px;
    margin-right: auto;
    float: left;
    position: relative;
    left: 50px;
}

.sub_sectionTop_c h2 {
    width: 200px;
    height: 55px;
    font-size: 30px;
    color: #333333;
}

.sub_sectionTop_c div ul li {
    display: inline-block;
}

.sub_sectionTop_c div ul li:hover a {
    text-decoration: underline;
}


.sub_sectionTop_c div ul li::after {
    content: '>';
    margin: 0 15px;
}

.sub_sectionTop_c div ul li:last-child:after {
    content: '';
}


.sub_sectionTop_c div ul li a {
    color: #555555;
    font-weight: 600;
}


.sub_sectionTop_r {
    width: 200px;
    height: 100px;
    margin-left: auto;
    position: relative;
}

.sub_sectionTop_r ul {
    width: 110px;
    height: 50px;
    margin: 0 auto;
}

.sub_sectionTop_r>ul>li:first-child {
    width: 110px;
    height: 50px;
    float: left;
}

.sub_sectionTop_r ul li ul li,
.sub_sectionTop_r .print_btn,
.sub_sectionTop_r .share {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #79ac91;
    box-shadow: 0 0 1px #79ac91;
    margin: 0 5px;
    float: left;
}

.sub_sectionTop_r ul li span {
    display: block;
    font-size: 0;
}

.sub_sectionTop_r ul li a {
    width: 40px;
    height: 40px;
    display: block;
}

.sub_sectionTop_r .zoom_in {
    background: url(../images_sub/sp_layout.png) no-repeat;
    background-position: -306px -1px;
}

.sub_sectionTop_r .zoom_out {
    background: url(../images_sub/sp_layout.png) no-repeat;
    background-position: -348px -1px;
}

.sub_sectionTop_r .print_btn {
    background: url(../images_sub/sp_layout.png) no-repeat;
    background-position: -93px -1px;
    background-size: 400px;
}

.sub_sectionTop_r .share {
    background: url(../images_sub/sp_layout.png) no-repeat;
    background-position: -137px -1px;
    background-size: 400px;
}

.share_list {
    width: 50px;
    height: 120px;
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 1;
    display: none;
}

.share_list ul {
    width: 45px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 5px 0;
}

.share_list ul li {
    width: 45px;
    height: 40px;
    border: none;
    box-shadow: none;
    margin: 2px;
}

.share_list ul li a {
    display: block;
}

.share_list ul li:nth-child(1) a {
    background: url(../SNS/facebook.png) no-repeat;
    background-size: 40px;
}

.share_list ul li:nth-child(2) a {
    background: url(../SNS/twiter.png) no-repeat;
    background-size: 40px;
}

.share_list ul li:nth-child(3) a {
    background: url(../SNS/kakao.png) no-repeat;
    background-size: 40px;
}

#sub_section_main {
    position: relative;
    width: 1300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub_section_side {
    width: 200px;
    height: auto;
    place-self: auto;
}

.sub_section_side>ul {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.sub_section_side>ul>li {
    width: 200px;
    height: 50px;
    margin: 5px auto;
    display: inline-block;
    position: relative;
}

.sub_section_side>ul>li>a {
    display: block;
    width: 180px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #666666;
    background-color: white;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid #79ac91;
}

.afterarrow::after {
    content: '';
    background: url(../images/chevron-down-solid.svg) no-repeat;
    position: absolute;
    top: 50%;
    left: 150px;
    width: 20px;
    height: 15px;
    transform: translate(0, -50%);
}

.sub_section_side>ul>li>a:hover {
    border: 2px solid #00a651;
}


.sub_section_side ul li ul {
    width: 200px;
    height: auto;
    margin: 0 auto;
    background-color: rgba(236, 245, 234, 1);
    display: none;
}

.sub_section_side ul li .down {
    margin: 2px 0 5px;
}

.sub_section_side ul li ul li {
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: #999999 1px solid;
}

.sub_section_side ul li ul li:last-child {
    border: none;
}

.sub_section_side ul li ul li a {
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #666666;
    padding-left: 20px;
}

.sub_section_side ul li ul li:first-child a {
    border-radius: 10px 10px 0 0;
}

.sub_section_side ul li ul li:last-child a {
    border-radius: 0 0 10px 10px;
}

.sub_section_side ul li ul li a:hover {
    background-color: #79ac91;
    color: white;
}

#sub_section_main {
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sub_section_middle {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: white;
}


/* 로그인 시작 */

.login_txt {
    width: 980px;
    height: 180px;
    margin: 70px auto 0;
    padding: 10px;
    background-color: rgba(236, 245, 234, 1);
}


.login_txt h3 {
    display: block;
    width: 800px;
    height: 50px;
    font-size: 1em;
}


.login_txt h3 span {
    display: block;
    width: 800px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: left;
    font-weight: bold;
}

.login_txt h3 button {
    display: block;
    width: 200px;
    height: 20px;
    background-color: #79ac91;
    color: white;
    font-size: 12px;
    padding: 1px 3px;
    float: left;
    text-align: center;
}

.login_txt h3 button:hover {
    background-color: #00a651;
    font-weight: bold;
}

.login_txt div {
    width: 800px;
    height: 80px;
    float: left;
    margin: 20px auto;
}

.login_txt div span {
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 10px;
}

.login_txt div>span::before {
    display: block;
    float: left;
    content: '';
    width: 1px;
    height: 1px;
    border-left: 5px solid #00a651;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}


#login {
    width: 800px;
    height: 350px;
    background-color: white;
    margin: 0 auto;
    padding: 0 100px;
    border-radius: 20px;
    overflow: hidden;
}

.login {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #999999;
    float: left;
}

.login .login_tab {
    width: 450px;
    height: 50px;
}

.login .login_tab ul {
    width: 450px;
    height: 50px;
    line-height: 50px;
}

.login .login_tab ul li {
    float: left;
    width: 225px;
    height: 50px;
    background-color: #999999;
}

.login .login_tab ul li a {
    display: block;
    text-align: center;
    color: white;
}

.on {
    background-color: #00a651;
}

#login_simp {
    width: 450px;
    height: 300px;
    float: left;
    margin: 15px auto;
    display: none;
    position: absolute;
}

#login_simp>div {
    width: 205px;
    height: 220px;
    margin: 0 10px;
    float: left;
    background-color: white;
}

#login_simp>div:hover {
    background-color: #efefef;
}

#login_simp>div>div {
    display: block;
    width: 205px;
    height: 220px;
}

#login_simp figure {
    margin: 20px auto 10px;
    width: 200px;
    height: 90px;
    text-align: center;
}

#login_simp figure img {
    display: block;
    margin: 0 auto;
}

#login_simp h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

#login_simp p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -2px;
    text-align: center;
}

#login_simp button {
    width: 160px;
    height: 30px;
    background-color: #00a651;
    color: white;
    font-size: 18px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

.login_sub {
    position: relative;
}


#login_input {
    width: 450px;
    height: 300px;
    margin: 30px auto 0;
    float: left;
    display: none;
    position: absolute;
}

#login_input .id,
#login_input .password {
    width: 350px;
    height: 40px;
    margin: 5px auto;
    box-shadow: 0 0 2px #333333;
}

#login_input h4 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 13px;
}

#login_input h4::after {
    content: '|';
    width: 10px;
    text-align: center;
    display: block;
    float: right;
    font-weight: 400;
}

#login_input input {
    display: block;
    width: 250px;
    height: 40px;
    text-indent: 20px;
}

#login_input button {
    width: 350px;
    height: 40px;
    background-color: #00a651;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 15px auto 5px;
    display: block;
    cursor: pointer;
}

.member_sub {
    width: 400px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
}

.member_sub ul {
    width: 300px;
    height: 20px;
    margin: 0 auto;
}


.member_sub ul li {
    float: left;
    width: 33.333%;
    text-align: center;
}

.member_sub ul li a {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #555555;
}

.member_sub ul li a:hover {
    text-decoration: underline;
    color: black;
}

.member_sub>p {
    width: 350px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    float: left;
}

.member_sub>p span {
    color: red;
    font-weight: bold;
}

.simple_login {
    width: 300px;
    height: 300px;
    float: right;
    margin: auto;
    border: 1px solid #999999;
}

.simple_login h3 {
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #999999;
    text-align: center;
}

.simple_login div {
    width: 250px;
    height: 30px;
    margin: 30px auto 0;
}

.simple_login p {
    width: 250px;
    height: 20px;
    margin: 0 auto;
    font-size: 13px;
    float: left;
}

.simple_login p span {
    display: block;
    float: left;
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.simple_login button {
    width: 250px;
    height: 40px;
    background-color: #1ec801;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    line-height: 40px;
    cursor: pointer;
}

.simple_login button.google {
    background-color: white;
    color: black;
    border: 1px solid #999999;
    margin-top: 10px;
}

.simple_login button.phone {
    background-color: white;
    color: black;
    border: 1px solid #999999;
    margin-top: 30px;
}

.tel {
    display: block;
    width: 1000px;
    height: 150px;
    float: left;
}

.tel table {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tel table caption {
    text-align: left;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
}


.tel table tr {
    border-bottom: 1px solid #555555;
}

.tel table th,
.tel table td {
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.tel table th {
    background-color: #efefef;
    font-weight: 600;
    color: #333333;
}


/* 회원가입 */

#membership {
    width: 1000px;
    height: 300px;
    background-color: white;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 2px solid #00a651;
    border-bottom: 1px solid #00a651;
    position: relative;
}

#membership figure {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
}

#membership figure img {
    display: block;
    width: 150px;
}


.membership {
    width: 1000px;
    height: 260px;
    margin: 0 auto;
    float: left;
    border-top: 1px solid #00a651;
}

.membership form {
    display: block;
    width: 600px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    border-left: 1px dashed #00a651;
}

.membership form h3 {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}

.membership form>p {
    width: 500px;
    height: 40px;
    float: left;
    border-bottom: 1px solid #dddddd;
}

.membership form>div {
    width: 500px;
    height: 40px;
    line-height: 40px;
    float: left;
}

.membership form .col1 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.membership form .col2 {
    width: 350px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.membership .id .col2 {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.membership .id .col3 {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.membership form .col3 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.membership form .col2 input {
    width: 150px;
    height: 25px;
    line-height: 25px;
    box-shadow: 0 0 2px #999999;
}



.btnBox {
    width: 225px;
    float: right;
}

#membership button {
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: #00a651;
    color: white;
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
}

#membership button:hover {
    background-color: #236734;
    font-weight: bold;
}


/* 푸터시작 */
footer {
    position: relative;
    top: 160px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 130, 0, 0.1);
    margin: 0 auto;
    padding-top: 50px;
}

#footer {
    position: relative;
    width: 100%;
    height: 250px;
    margin: auto 0;
}

#footer #sitemap {
    position: relative;
    width: 1200px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}

#footer #sitemap .Fsitemap {
    position: relative;
    width: 1200px;
    height: 50px;
    line-height: 50px;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

#footer .Fsitemap>div {
    width: 250px;
    height: 50px;
    float: left;
}

#footer .Fsitemap #sitemap1 {
    position: absolute;
    top: 0;
    left: 10%;
}

#footer .Fsitemap #sitemap2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#footer .Fsitemap #sitemap3 {
    position: absolute;
    top: 0;
    right: 10%;
}

#footer .Fsitemap div>a {
  display: block;
  width: 246px;
  height: 46px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #555555;
  background-color: white;
  border: 2px solid #00a651;
}

#footer .Fsitemap div>a::after {
  content: '';
  border-top: 7px solid #555555;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: 50%;
  left: 220px;
  transform: translate(0, -50%);
}

#footer .Fsitemap .site_sub {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 0;
  overflow: hidden;
  float: left;
  border-radius: 10px;
}

#footer .Fsitemap div>ul>li>a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px 10px 0 0 ;
  color: white;
  background-color: #79ac91;
  border: 2px solid #79ac91;
}

#footer .Fsitemap div>ul>li>a::after {
  content: '';
  border-bottom: 7px solid white;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: 25px;
  left: 220px;
  transform: translate(0, -50%);
}

#footer .Fsitemap div ul li ul {
    position: absolute;
    height: 250px;
    top: 50px;
    left: 0;
    overflow-y: scroll;
}

#footer .Fsitemap div ul li ul li {
    float: left;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #efefef;
    border-bottom: 1px #236734 solid;
}

#footer .Fsitemap div ul li ul li a {
  display: block;
  width: 250px;
  height: 40px;
  color: #333333;
  text-indent: 20px;
  font-size: 0.9em;
}

#footer .Fsitemap div ul li ul li:hover a {
  background-color: #efefef;
  font-weight: bold;
}

.f_top {
    width: 100%;
    height: 80px;
    margin: 20px auto;
}

.f_top ul {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.f_top ul li {
    display: inline-block;
    height: 50px;
}

.f_top ul li a {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  display: block;
  padding: 3px 10px;
  letter-spacing: -2px;
}

.f_top ul li:first-child a {
  font-weight: bold;
  text-decoration: underline black 2px;
}

.address {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.address address {
  display: block;
  font-style: normal;
  height: 30px;
  margin: 0 auto;
  font-size: 13px;
  text-indent: 10px;
}

.address span {
  display: block;
  font-size: 13px;
  float: left;
  text-indent: 10px;
}

.copy {
    width: 1000px;
    height: 70px;
    margin: 0 auto;
}

.copy span {
  display: block;
  width: 750px;
  line-height: 60px;
  margin: 0 auto;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-indent: 10px;
}


.copy figure {
  display: block;
  width: 100px;
  height: auto;
  margin-right: 100px;
  float: right;
  box-sizing: border-box;
}